html * {
    box-sizing: border-box;
}
body {
    margin: 0;
    text-align: center;
    overflow: hidden;
}

canvas.canvas-scene-primary {
    width: 100%;
    height: 100%;
    min-height: 500px;
    max-width: 1280px;
    max-height: 720px;
    margin: 0;
}

.hidden {
    display: none !important;
}
.show {
    display: block;
}

#controls-container {
    /* display: none; */
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
    z-index: 10;
}

#settings-container {
    display: block;
    padding: 10px 5px 0;
    /* background: rgba(204, 204, 204, 0.3); */
    background-color: rgba(255, 255, 255, 0.2);
}

#settings-container.hidden {
    display: none;
    /* TODO: hide and make configurable */
    /* display: block; */
}

.toggle-wrapper {
    margin: 0 0 0;
}
button#settings-toggle-btn {
    margin: 0 0 0;
    padding: 5px 10px;
    font-size: 16px;
    color: #fff;
    /* background-color: rgba(0, 0, 0, 0.30); */
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
button#settings-toggle-btn:hover {
    /* background-color: rgba(0, 0, 0, 0.90); */
    background-color: rgba(255, 255, 255, 0.3);
}

button#settings-toggle-btn.hidden-active {
    margin-bottom: 0;
}

.play-wrapper {
    text-align: center;
    z-index: 2;
}

button {
    cursor: pointer;
}

button#btn-drums-1,
.play {
    display: inline-block;
    margin: auto 3px 10px auto;
    padding: 6px 8px;
    background: none;
    font: 14px/1 Verdana, Geneva, sans-serif;
    letter-spacing: 1.2px;
    color: #fff;
    border: 1px solid #fff;
    /* color: #003366; */
    /* border: 1px solid #003366; */
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

span.fa-headphones {
    padding: 0 5px 0 3px;
}

button#btn-drums-1:hover,
.play:hover {
    /* background: #003366; */
    /* color: #fff; */
    background: #fff;
    color: #003366;
}

button#btn-drums-1 {
    margin: auto 3px 10px auto;
}


/*** AUDIO ANALYSER ***/

.visuals {
    position: absolute;
    z-index: 0;
}

.playlist {
    display: none;
}

.form-check {
    text-align: left;
}

/* #legend-container {
    display: inline-block;
    width: 90px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(204, 204, 204, 0.6);
} */
#legend-container {
    display: inline-block;
    /* width: 115px; */
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9;
}
#legend-container.pos-top-left {
    margin: 0;
    bottom: auto;
}

.legend {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 15px 20px 10px 20px;
    background: rgba(204, 204, 204, 0.3);
}
.legend ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none
}
.legend ul li {
    height: 14px;
    margin: 0 0 10px;
    padding: 0 0 0 24px;
}
.legend span.symbol {
    display: block;
    width: 14px;
    height: 14px;
    margin: 5px 0 0 0;
    padding: 0;
    position: absolute;
    left: 20px;
    background: #0018F9;
    border: 0.5px solid rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    
}
.legend p {
    margin: 0;
    padding: 0;
    /* font-family: 'Didact Gothic', sans-serif; */
    /* font-family: 'Sawarabi Gothic', sans-serif; */
    font-family: Verdana, sans-serif;
    line-height: 24px;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1.25px;
}

/*** MACHINE DATA ***/
#machine-data {
    margin: 10px 0 15px;
    color: #ED4A82;
    font-family: Verdana, sans-serif;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#machine-state {
    position: relative;
    top: -1px;
    color: #fff;
    font-family: Verdana, sans-serif;
    font-size: 10px;
    font-style: italic;
}

#logo-container {
    position: fixed;
    /* top: 15px; */
    top: 213px;
    /* right: 350px; */
    left: 55px;
}
#logo-container .logo {
    display: inline-block;
}
#logo-container .logo img {
    display: block;
    max-width: 90px;
}

.animate-in {
    opacity: 0;
    animation: fade-in 2.0s 1;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    /* animation-delay: 1s; */
} 

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* screen capture webcam customization */
.nsc-content-camera-container {
    margin: 0 0 0 200px;
}
.nsc-content-camera {
    background: transparent;
}

/* data viz */

.dashboard-container {
    /* display: none; */
    width: 350px;
    margin: 0 auto;
    position: absolute;
    top: -85px;
    right: 0;
    bottom: auto;
    left: 0;
    z-index: 10;
    padding: 5px;
    transition: right 2s;
    transition-timing-function: ease;
}

.echarts-entry {
    /* padding: 5px; */
    /* margin: 5px; */
}

.echarts-entry canvas {
    display: inline-block;
    /* background: #fff; */
    background: transparent;
    /* background: rgba(204, 204, 204, 0.7); */
    width: 400px;
    height: 300px;
    /* height: 350px; */
    /* padding: 5px; */
}

#dashboard-container.alternate {
    right: 800px;
}

.img-container {
    overflow: hidden;
    /* width: 500px; */
    height: 95px;
    position: absolute;
    /* top: 0; */
    top: 30px;
    right: auto;
    bottom: auto;
    left: 0;
    /* margin: 0 auto; */
    /* background: #fff; */
    z-index: 10;
    /* padding: 5px; */
    /* transition: right 2s; */
    opacity: 1;
    transition: opacity 2s;
    transition-timing-function: ease;
}

.img-container img {
    display: inline-block;
    /* width: 450px; */
    width: 500px;
    /* height: 500px; */
    position: relative;
    top: 0;
    /* transition: top 15s; */
    /* transition-timing-function: ease; */
    animation-name: music-scroll;
    /* animation-duration: 30s; */
    animation-duration: 20s;
    animation-delay: 14s;
    animation-fill-mode: forwards;
}

.img-container.alternate {
    opacity: 0;
}

#divider {
    display: none;
    background-color: #00b140; /* green screen */
    background-color: #0047bb; /* blue screen */
    width: 20px;
    height: 1080px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#ARButton {
	position: absolute;
	top: 50%;
	bottom: auto;
	left: calc(50% - 50px);
	width: 100px;
	height: 38px;
    padding: 12px 6px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
    font: 13px sans-serif;
    text-align: center;
    opacity: 0.5;
    outline: none;
    z-index: 999;
    cursor: pointer;
}

@keyframes music-scroll {
    /* from {
        top: 0;
    }
    to {
        top: -200px;
    } */

    0% { top: 0; }
    10% { top: 0; }
    20% { top: -110px; }
    62% { top: -110px; }
    74% { top: -220px; }
    100% { top: -220px; }
  }